* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
}
html, body {
	background: #222;
	height: 100%;
}
p a {
	color: #C9A781;
}
p a:hover {
	color: #fff;
	text-decoration: none;
}
h2 a, a:hover {
	color: inherit;
	text-decoration: inherit;
	font-family: inherit;
}
p {
	orphans: 3;
}
.header {
	position: fixed;
	width: 100%;
	background: #222;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
}
.header .navbar {
	margin: 0;
	border: none;
}
.page-section {
	width: 100%;
	min-height: 100%;
	padding: 30px 15px;
}
.bubble {
	max-width: 700px;
}
.photogallery {
	max-width: 920px;
}
.storybubble {
	max-width: 860px;
}
.page-section h1, h2 {
	font-family: 'Amatic SC', cursive, serif;
}
.intro h1 {
	font-size: 9em;
	margin: 150px 0 40px 0;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	font-size: 4em;
	font-weight: 900;
	color: #fff;
	margin: 0 0 30px;
}
.page-section p {
	font-size: 1.2em;
	font-weight: 100;
	/*margin: 0 25% 20px 0;*/
}
.page-section p.lead {
	font-family: 'Amatic SC', cursive, serif;
	font-size: 3.2em;
}
.page-section div.bubble {
	color: #fff;
	padding: 20px;
	/*background: url('../images/transpBlack75.png');*/
	background-color: #222222;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
}
h3 {
	color: darkgray;
}
.page-section.intro {
	color: #FEFEF2;
	background: url('../images/bg1_1920_web3.jpg') center center no-repeat;
	background-size: cover;
}
.headline, .introbuttons {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.introbuttons {
	margin-top: 4em;
}
.nextnav {
	margin: 1.5em auto;
	text-align: center;
}
.page-section#story {
	background: url('../images/bg2_1920_web.jpg') bottom center no-repeat;
	background-size: cover;
}
.page-section#reception {
	background: url('../images/bg4_1920_web.jpg') bottom center no-repeat;
	background-size: cover;
}
.page-section#rsvp {
	background: url('../images/bg6_1920_web.jpg') center center no-repeat;
	background-size: cover;
}
.page-section#registry {
	background: url('../images/bg5_1920_web.jpg') bottom center no-repeat;
	background-size: cover;
}
.page-section#photos {
	background: url('../images/bg7_1920_web.jpg') top center no-repeat;
	background-size: cover;
}
.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {border-color: #ddd;}
.two-col {
    -moz-column-count: 2;
    -moz-column-gap: 1.25em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2.5em;
    column-count: 2;
  	column-gap: 1.25em;
}
#postscript {
	margin-top: 3em;
	margin-bottom: 0;
	padding: 5px;
	width: 28em;
}
#postscript p {
	font-size: 1em;
	text-align: center;
	margin: 0;
}

/* -------------- photo gallery CSS for ResponsiveSlides.js ------------ */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(255,255,255, 0.9);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(201, 167, 129, 0.9);
}

.rslides_container,
.rslides {
	position: relative;
	max-height: 90%;
}


/* -------------- Media Queries ------------ */

@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
}

@media (max-width: 1024px) {
	.photogallery {
		max-width: 800px
	}
	/*.storybubble {
		max-width: 860px;
	}*/
}

@media (max-width: 768px) {
	.two-col {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

@media (max-width: 540px) {
	/*.header {
		position: relative;
	}                       Still need to address too-large top nav in mobile */
	.page-section {
		padding: 0 0 50px 0;
	}
	.page-section div.bubble {
		border-radius: 0;
	}
	.page-section h1 {
		font-size: 5em;
	}
	.page-section h2 {
		text-align: center;
		font-size: 3.2em;
	}
	.page-section h3 {
		font-size: 1.5em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
	.page-section p.lead {
		font-size: 2.5em;
	}
	.photogallery,
	.rslides ul,
	.rslides_container {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		margin-right: 0;
		margin-left: 0;
	}
	#postscript {
		margin-top: 1.5em;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
}
